

.header{
  background-color: #7D3E12;
  color: white
}

.header-text{
  font-family: ;
}


.category-square{
  border:1px solid red;
  /* width: 90px;*/
  /* height: 90px; */
}

.switcher-square{
   border:1px solid green;
  /* width: 90px;*/
  /* height: 90px; */
}
.game-square:hover{
  background-color: moccasin;
}

.grid-container{
  width: 384px;
  max-width: 384px
}

.selected-grid-size{
  background-color: #7D3E12;
  color: white;
}

.bottom-button{
  background-color: #7D3E12;
  color: white;
}
